* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.submission {
	width: 75%;
	text-align: right;
}

.submission * {
	margin: 5px;
}

.input input {
	border: 1px solid #999999;
	border-radius: 5px;
	width: 300px;
	height: 30px;
}

#state {
	width: 40px;
}

#city {
	width: 194px;
}

.checkbox {
	text-align: center;
	padding-left: 132px;
}

.is-valid {
	color: #66ff33;
	position: absolute;
}

.is-invalid {
	position: absolute;
	font-size: 13px;
	color: red;
}

#valid {
	border: 3px solid #66ff33;
}

#invalid {
	border: 3px solid red;
}

.search-bar {
	background-color: #999999;
	padding: 3px;
	border-radius: 10px;
	height: 45px;
}

.search-bar * {
	display: inline-block;
	line-height: 30px;
}

.submit-btn {
	float: right;
	background-color: red;
	border-radius: 3px;
	color: white;
	text-align: center;
}

.searchbar-bar input:first-child {
	width: 595px; /*not fluid, just looks correct*/
}

.omnibox {
	border: 1px solid black;
	height: 24px;
	width: 63%;
	border-radius: 7px;
}

.omnibox li {
	background-color: #6699ff;
	margin: 2px 2px;
	border-radius: 5px;
	font-size: 12px;
}

.omnibox input {
	border: none;
}

.omnibox * {
	display: inline-block;
	padding: 0 5px;
	color: white;
}

.omnibox a {
	background-color: blue;
	color: #a6a6a6;
	border-radius: 5px;
	text-decoration: none;
}